<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Tailcraft</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>

    <nav>
        <ul>
            <li><a href="../templates/index.html">Home</a></li>
            <li><a href="../templates/aboutus.html">About Us</a></li>
            <li><a href="../templates/">Contact Us</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Explore More</a>
                <div class="dropdown-content">
                    <a href="#">Check IQ</a>
                    <a href="#">Draw & learn</a>
                    <a href="#">GK Quiz</a>
                </div>
            </li>
        </ul>
    </nav>

<div class="container">
    <img src="../static/img/img3.jpg" alt="AI Tailcraft Logo">
    <h1>AI Tailcraft</h1>
    <p>Get ready to embark on magical adventures with AI-generated stories!</p>
    <a href="../templates/story.html">
        <button class="btn">Create a Story</button>
    </a>
</div>

</body>
</html>
