<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Maker for Kids</title>
    <link rel="stylesheet" href="../static/css/storytime.css">
</head>
<body>
    <header>
        <h1>Story Maker for Kids</h1>
    </header>

    <main>
        <form action="/create_story" method="POST">
            <label for="keywords">Enter some fun keywords to create your story:</label>
            <input type="text" name="age" id="age" placeholder="Enter your Age, E.g. 10 years or teenager." >
            <input type="text" name="characters" id="characters" placeholder="Enter your Characters, E.g. Spiderman or Farm-Animals." >
            <input type="text" name="scientific_concept" id="keywoscientific_conceptrds" placeholder="Enter scientific_concept, E.g. gravity or Newton laws." >

            <button type="submit">Create Story</button>
        </form>
    </main>

    <footer>
        <p>Let your imagination soar! ✨</p>
    </footer>
</body>
</html>
